body {
    background-color: #899FC6;
	font: 15px sans-serif;
	line-height: 1.5;
}
main {
	background-color: white;
	max-width: 640px;
	margin: 0 auto;
	padding: 0.5em;
}
main h1 {
	margin: 0;
}
main input[type="text"],
main input[type="file"],
main textarea {
	width: 100%;
	box-sizing: border-box;
}
main textarea {
	resize: vertical;
}
#vil-form {
	margin-bottom: 0.25em;
}
main input[type="button"] {
	padding: 0.2em 0.6em;
}
#vil {
	height: 20vh;
}
#out {
	height: 60vh;
}