body {
    background-color: #899FC6;
	font: 15px sans-serif;
	line-height: 1.5;
}
main {
	background-color: white;
	max-width: 640px;
	margin: 0 auto;
	padding: 0.5em;
}
main h1 {
	margin: 0;
}
main label:not(.inline) {
	display: block;
}
main input[type="text"],
main input[type="file"],
main select:not(.inline),
main textarea {
	width: 100%;
	box-sizing: border-box;
}
textarea.prop {
	font-family: sans-serif;
}
main textarea {
	resize: vertical;
}
#vil-form {
	margin-bottom: 0.25em;
}
main input[type="button"], main select {
	padding: 0.2em 0.6em;
}
/*#vil {
	height: 20vh;
}
#out {
	height: 60vh;
}*/
details {
	padding: 0.2em 0.5em;
	margin: 0.5em 0;
	border: 1px dashed #ccc;
}
details > summary {
	padding-left: 0.5em;
}